@model PaginatedList<Comic>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Add Comic</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <a asp-action="Index">Clear</a>
        </p>
    </div>
</form>
<table class="table table-hover bg-dark text-warning">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Title</a>
            </th>
            <td>
                @Html.DisplayName("Writer's Name")
            </td>
            <td>
                @Html.DisplayName("Artist's Name")
            </td>
            <th>
                @Html.DisplayName("Year")
            </th>
            <th>
                @Html.DisplayName("Rating")
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PublisherSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Publisher</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Writer.WriterName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist.ArtistName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublisherClass.PublisherName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ComicId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ComicId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ComicId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
