@model IEnumerable<ComicShop.Models.Writer>

@{
    ViewData["Title"] = "Writers";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-dark text-warning" style="border-radius:25px;padding:20px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WriterName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WriterName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WriterID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WriterID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WriterID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
