@model IEnumerable<ComicShop.Models.Publisher>

@{
    ViewData["Title"] = "Publishers";
}

<h1>Publishers</h1>

<p>
    <a asp-action="Create">Add Publisher</a>
</p>
<table class="table bg-dark text-warning" style="border-radius:25px;padding:20px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PublisherName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-light">
            <td>
                @Html.DisplayFor(modelItem => item.PublisherName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PublisherID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PublisherID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PublisherID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
